/* pc */

@media (min-width: 1024px) {
    
}

/* tablet */

@media (max-width: 1024px) and (min-width :739px) {

    .mt-32 {
        margin-top: 32px;
    }

    #banner-section .logo-img {
        margin-top: 16px;
        margin-left: -68px;
    }

    #nav {
        padding-left: 1px;
    }

    .search-header {
        display: none;
    }


    #content-home .coronavirus-animation {
        width: 330px;
        top: 71%;
    }

    .coronavirus-animation-text {
        font-size: 32px;
    }

    #content-home .scared-man-run {
        width: 390px;
        top: 69%;
    }

    .scared-man-run-text { 
        font-size: 32px;
    }

    .amount-box {
        width: 720px;

    }

    .wrap-table {
        width: 720px;
    }

    #footer .detail-info {
        padding-left: 40px;
    }

    .email-input {
        margin-left: 6px;
    }
}

/* mobile */
@media ( max-width: 739px) {
    #header {
    }
/* phần banner & logo  */
    
    #banner-section .logo-img {
        position: absolute;
        width: 100px;
        top: 0;
        left: 0;
        margin-top: 8px ;
        margin-left: 24px;
    }

    #banner-section .banner-img {
        width: 300px;
        float: left;
    }

/* phần banner & logo  */
   
/* phần navbar  */
    #nav {
        overflow: hidden;
    }

    #nav >li {
        display: block;
    }

    .mobile-menu-btn {
        display: block;
    }

/* phần navbar  */

/* phần content */

    #content-home .heading-content {
        margin-bottom: 32px;
    }

    .mt-32 {
        margin-top: 32px!important;
    }

    .text-content-right, 
    .text-content-left,
    .info-section {
        width: 100%;
    }

    #content-home .coronavirus-animation {
        top: 75%;
        width: 300px;
    }

    .coronavirus-animation-text,
    .scared-man-run-text {
        font-size: 28px;
    }

    #content-home .scared-man-run {
        top: 73%;
        width: 360px;
    }
    
    .amount-box,
    .wrap-table {
        width: 398px;
    }
    
    #main-section-solution .text-solution {
        font-size: 16px;
    }

/* phần footer  */
    #footer .detail-info {
        padding-left: 45px;
    }

    .email-input {
        margin-left: 12px;
    }

    .text-competition{
        margin-left: 16px;
    }

    .info-author {
        margin-left: -92px;
    }

    .info-author-detail div {
        width: 100%;
    }
}    
