* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    padding: 0 32px ;
}


.col-half {
    float: left;
    width: 50%;
}

.col-four{
    float: left;
    width: 25%;
}

.mb16{
    margin-bottom: 16px;
}

.mb8{
    margin-bottom: 8px;
}

.mt16{
    margin-top: 16px;
}

.text-center {
    text-align: center;
}

.fw-600 {
    font-weight: 600;
}

.color-c9302c {
    color: #c9302c;
}

.color-ff9c00 {
    color: #ff9c00;
}

.color-28a745 {
    color: #28a745;
}

.color-666666 {
    color: #666666;
}

.fsize-18 {
    font-size: 18px;
}

.mb-58 {
    margin-bottom: 58px;
}


main{

}

/* CSS-HEADER-SECITON */

.clear {
    clear: both;
}

#header {
}

#banner-section {
    background: url('../img/bc.jpg');
    padding: 0 160px;
    overflow: hidden;
}

#banner-section .logo-img {
    width: 20%;
    margin-top: 38px;
    margin-left: 40px;
}

#banner-section .banner-img {
    float: right;
    opacity: 0.9;
    width: 70%;
}

#nav {
    position: relative;
    width: 100%;
    height: 46.4px;
    background-color: rgb(6, 6, 34);
    z-index: 2;
}

#nav >li  {
    display: inline-block;
}

#nav >li:hover a  {
    background: rgb(26, 228, 201);
    color: rgb(11, 3, 83);
    display: block;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 24px;
    line-height: 46.4px;
    font-weight: 500;
}

.mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    color: #fff;
    line-height: 46.4px;
    font-size: 18px;
    padding: 0 24px;
    display: none;
}

.mobile-menu-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

    /* sticky navigation */
    
.sticky {
    position: fixed!important;
    top: 0;
    width: 100%;
    z-index: 1030;
}



/* CSS-HEADER-SECITON */


/* css-slider-home */
#slider{
} 

#slider .owl-carousel {
}

#slider .image-items {
    width: 100%;
    transition: 1s;

}
/* css-slider-home */

/* BEGIN-CSS-CONTENT-HOME */

#content-home {
    position: relative;
    background: url('../img/bc_content.jpg') top center/ cover no-repeat;
    width: 100%;
    overflow: hidden;
}

#content-home .text-content {
    font-weight: 600;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 252px;
}

#content-home .heading-content {
    font-size: 24px;
    text-align: center; 
    animation: changeColor ease 1.5s infinite ;
}

/* Đổi màu chữ heading-content */
@keyframes changeColor {
    0% {
        color: #fff;
    }
    33% {
        color: gold;
    }
    67% {   
        color: greenyellow;
    }

}

#content-home .text-content p {
    font-size: 16px;
    padding: 0  20px;
    line-height: 1.4;
    text-align: justify;
    margin-top: 32px;
}


#content-home .coronavirus-animation {
    display: block;
    position: absolute;
    width: 354px;
    height: 260px;
    background: url('../img/coronavirus-cartoon-transparent-png-52650-304739.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 65%;
    transform: translateX(-50%);
    transition: 0.3s;
    animation: gaow infinite 10s ease-out;
    -webkit-animation: gaow infinite 10s ease-out;
    -o-animation: gaow infinite 10s ease-out;
    -moz-animation: gaow infinite 10s ease-out;
    -ms-animation: gaow infinite 10s ease-out;
}

.coronavirus-animation-text {
    position: absolute;
    bottom: 50%;
    font-size: 2rem;
    width: 100%;
    left: -47%;
    color: rgb(255, 72, 0);
    font-weight: 600;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}

#content-home .scared-man-run {
    display: block;
    position: absolute;
    width: 400px;
    height: 260px;
    background: url('../img/1280px-Man_Running_Scared_Cartoon_Vector.svg.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 65%;
    transform: translateX(50%);
    transition: 0.3s;
    animation: gaow infinite 10s ease-out;
    -webkit-animation: gaow infinite 10s ease-out;
    -o-animation: gaow infinite 10s ease-out;
    -moz-animation: gaow infinite 10s ease-out;
    -ms-animation: gaow infinite 10s ease-out;
}

.scared-man-run-text {
    position: absolute;
    bottom: 50%;
    font-size: 2rem;
    width: 100%;
    left: 43%;
    color: rgb(72, 255, 0);
    font-weight: 600;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}



/* animation-coronavirus & scared-man-run */
@-webkit-keyframes gaow {
    0%{
        left: -50%;
    }100%{
        left: 125%;
    }
}

@-moz-keyframes gaow {
    0%{
        left: -50%;
    }100%{
        left: 125%;
    }
}
@-o-keyframes gaow {
    0%{
        left: -50%;
    }100%{
        left: 125%;
    }
}
@-ms-keyframes gaow {
    0%{
        left: -50%;
    }100%{
        left: 125%;
    }
}

@keyframes gaow{
    0%{
        left: -50%;
    }100%{
        left: 125%;
    }
}
/* END-CSS-CONTENT-HOME */



/* BEGIN-CSS-CONTENT-PROGRESS */

#main-section-progress {
    background: url('../img/bg_progress.jpg') top center/ cover no-repeat;
    width: 100%;
}

.amount-general {
    opacity: 0.9;
    width: 1000px;
    max-width: 100%;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 64px;
}

.heading-progress {
    color: #fff;
    font-size: 44px;
    text-align: center;
    padding-top: 64px;
    font-weight: 500;    
    animation: changeColor1 0.75s ease infinite;

}

.heading-amount {
    padding-top: 64px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    color: #fff;
}

.amount-box {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.amount-place {
    width: 88px;
    padding: 7px;
    background-color: #c9302c;
    color: #fff;
    border-radius: 5px;
}


.line-amount-box {
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: #ccc;
}

/* css-bảng-cuộn */
.wrap-table {
    margin-top: 16px;
    width: 800px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    border: 1px solid #eee;

}
.wrap-table table {
  table-layout: fixed;
  width: 100%;
}
.wrap-table table.head {
    padding: 12px;
}
.wrap-table table.head th {
  width: calc(100% - 15px);
}


table tr td {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 8px;
    word-wrap: break-word;
}

.scroll-table {
  height: 220px;
  overflow-y: auto;
}
/* css-bảng-cuộn */
/* END-CSS-CONTENT-PROGRESS */

/* BEGIN-CSS-CONTENT-SOLUTION */
#main-section-solution {
    background: url('../img/bg-solution.png') top center/ cover no-repeat;
    width: 100%;
}

#main-section-solution .content-solution {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    color: #fff;
    opacity: 0.9;
    padding-bottom: 64px;
}

.heading-solution {
    color: #fff;
    font-weight: 500;
    font-size: 44px;
    padding-top: 64px;
    text-align: center;
    animation: changeColor1 0.75s ease infinite;
}

#main-section-solution .sub-heading-solution {
    text-align: center;
    font-size: 40px;
    padding-top: 64px;
    padding-bottom: 32px;
    font-weight: 500;
}

/* đổi màu chữ heading-solution & progress */
@keyframes changeColor1 {
    0% {
        color: #fff;
    }
    50% {
        color: red;
    }

}

#main-section-solution .img-solution {
    padding-top: 16px;
    transition: transform 0.5s;
}

#main-section-solution .img-solution:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

#main-section-solution .text-solution {
    font-size: 20px;
    padding-top: 16px;
    font-weight: 600;
    color: rgb(35, 209, 0);
}


/* END-CSS-CONTENT-SOLUTION */

/* css-footer-section */
#footer {
        background-color:rgb(6, 6, 34) ;
        color: #fff;
}

#footer .content-footer  {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#footer .info-section {
    text-align: center;
    padding-top: 64px;
}

#footer .heading-footer {
    font-weight: 500;
    margin-bottom: 32px;
}

#footer .detail-info {
    text-align:initial;
    padding-left: 90px;
}

#footer .detail-info p {
    padding-bottom: 4px;
}
#footer .detail-info a {
    text-decoration: none;
    color: #c22;
}

#footer .detail-info i {
    padding: 0 16px ;
}

.email-input {
    padding: 5px 22px 5px 8px;
    font-size: 16px;    
    margin-left: 94px;
}

.send-btn {
    padding: 8px 20px 8px;
    background-color: rgb(73, 60, 60);
    color: #fff;
    border: none;
    font-size: 15px;
}

.send-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#footer .social-icon {
    margin-top: 16px;

}

#footer .social-icon a {
    font-size: 20px;
    text-decoration: none;
    padding: 0 12px;
    color: #fff;
}


#footer .line-footer {
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: rgba(255,255,255,0.18);
    margin-top: 40px;

}

.info-author{
    font-size: 14px;
    padding-bottom: 32px;
    margin-top: 32px;
    margin-left: 80px;
    opacity: 0.6;
}


/* css-footer-section */
